{% extends 'base.html'%}
{% load static %}

{% block title %}Your Bujo{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" media="all">
{% endblock %}

{% block content %}
	<center><h1>YOUR BULLET JOURNAL</h1></center>
	<br>
	<center><p style="font-size:50px">HELLO! WHAT IS YOUR NAME? </p></center>
	{{ form.non_field_errors }}
	{% for field in form %}
		{% if field.errors %}
		<p>{{ field.label }} has the following errors:</p>
		<ul>
			{% for error in field.errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	{% endfor %}
	<center>
	 <form action="/index_card" method="post">
	  {% csrf_token %}
	  {{ form }}
	  <input type="submit" value="Submit">
	 </form>
	</center>
	<center>
	<a href="/profile">Your Profile</a>
	<a href="/key">Key</a>
	<a href="/this_week">This Week</a>
	<a href="/today">Today</a>
	</center>
{% endblock %}